<div class="footer-content">
    <div class="footer-inner-div">
        <div>
            <div class="div-logo-footer">
                <a href="index_it.html">
                    <img src="assets/images/bilam/timberline-logo.PNG" alt="Timberline Logo">
                </a>
            </div>
            <div class="div-p-slogan">
                <p class="p-slogan">Soluzioni in legno per grandi realizzazioni</p>
            </div>
            <div class="div-footer-p-mindst">
                <p class="footer-p-mindst-para">Timberline Europe rappresenta innovazione e qualità nella costruzione in legno. Offriamo soluzioni sostenibili e versatili per progetti di qualsiasi dimensione.</p>
            </div>
        </div>
        <div class="div-a-href--footer">
            <div class="inner-div-footer-ahref">
                <div>
                    <ul class="ul-footer">
                        <li class="a-href--footer-1"><a href="index_it.html">Home</a></li>
                        <li class="a-href--footer-1"><a href="blog_it.html">Blog</a></li>
                        <li class="a-href--footer-1"><a href="FAQ_it.html">FAQ</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="ul-footer">
                        <li class="a-href--footer-1"><a href="privacy_it.html">Privacy</a></li>
                        <li class="a-href--footer-1"><a href="terms_it.html">Termini e Condizioni</a></li>
                        <li class="a-href--footer-1"><a href="imprint_it.html">Impronta</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="div-ahref-angebot">
            <a href="contact_it.html" class="a-href--footer-angebot-anforden">Richiedi un preventivo</a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>&copy; 2024 Timberline Europe. Tutti i diritti riservati.</p>
    </div>
</div>
