<div class="footer-content">
    <div class="footer-inner-div">
        <div>
            <div class="div-logo-footer"> <a href="index.html"> <img src="assets/images/bilam/timberline-logo.PNG"
                        alt=""> </a></div>
            <div class="div-p-slogan">
                <p class="p-slogan">Holzlösungen, die Großes ermöglichen</p>
            </div>
            <div class="div-footer-p-mindst">
                <p class="footer-p-mindst-para">Timberline Europe steht für Innovation und Qualität im Holzbau. Unsere
                    Balkenschichtholzlösungen vereinen Nachhaltigkeit, Stärke und Vielseitigkeit, um Projekte jeder
                    Größenordnung zu realisieren. Von visionären Architekturprojekten bis hin zu funktionalen Bauwerken
                    – wir liefern die Grundlage, auf der Ideen wachsen und Zukunft entsteht. Mit einem klaren Fokus auf
                    Präzision und umweltbewusste Herstellung ist Timberline Europe mehr als nur ein Name: Es ist ein
                    Versprechen für nachhaltige Bauweisen und erstklassige Holzlösungen."</p>
            </div>
        </div>
        <div class="div-a-href--footer">
            <div class="inner-div-footer-ahref">
                <div>
                    <ul class="ul-footer">
                        <li class="a-href--footer-1"><a href="" class="a-href--footer-122">Home</a></li>

                        <li class="a-href--footer-1"><a href="blog.html">Blog</a></li>
                        <li class="a-href--footer-1"><a href="FAQ.html">FAQ</a></li>

                    </ul>
                </div>
                <div>
                    <ul class="ul-footer">
                        <li class="a-href--footer-1"><a href="Datenschutz.html">Datenschutz</a></li>
                        <li class="a-href--footer-1"><a href="">AGB</a></li>
                        <li class="a-href--footer-1"><a href="">Impressum</a></li>

                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="div-ahref-angebot"><a href="" class="a-href--footer-angebot-anforden">Angebot anfordern</a>
        </div>
    </div>


</div>

<div class="footer-copyright">
    <p>&copy; 2024 Bilam. Alle Rechte vorbehalten.</p>
</div>