<div class="zero-div-header">
    <nav class="nav-header">

        <a href="index.html" class="nav-header-a-href">Deutsch </a> 
        <a href="/en/index_en.html"  class="nav-header-a-href">English</a> 
        <a href="index_it.html"  class="nav-header-a-href">Italiano</a>
    </nav>
</div>





<header class="header12">
    <div class="first-div">
        <div class="second-div">
            <div class="third-div">
                <div class="header">
                    <div class="div-logo">
                    </div>
                    <a href="index.html">
                        <img src="assets/images/bilam/timberline-logo.PNG" alt="" class="logo-timber">
                    </a>
                </div>
                <div>
                    <div class="container">
                        <a href="index.html" class="header-aref">Home</a>
                        <a href="Brettschichtholz.html" class="header-aref">Brettschichtholz ITaliens</a>
                        <a href="Bilammm.html" class="header-aref">gulam</a>
                        <a href="perlinen.html" class="header-aref">Perlinen</a>


                        <a href="angebot.html" class="button-kontakt">Jetzt bestellen</a>





                    </div>
                </div>
            </div>
        </div>
    </div>
</header>