<div class="zero-div"></div>
<header class="header12">
    <div class="first-div">
        <div class="second-div">
            <div class="third-div">
                <div class="header">
                    <div class="div-logo">
                    </div>
                    <a href="index.html">
                        <img src="assets/images/bilam/timberline-logo.PNG" alt="" class="logo-timber">
                    </a>
                </div>
                <div>
                    <div class="container">
                        <a href="index.html" class="header-aref">Home</a>
                        <a href="Brettschichtholz.html" class="header-aref">Brettschichtholz</a>
                        <a href="Bilammm.html" class="header-aref">Bilam</a>

                      
                        <a href="angebot.html" class="button-kontakt">Jetzt bestellen</a>
                       
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>