* {
    margin: 0;
    padding: 0;
    outline: 1px solid rgb(99, 91, 91) !important;
    box-sizing: border-box;
}

body {

    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: auto;

}

.section-1-div {
    width: 100%;
    display: flex;
    justify-content: center;

}

.section-1-inner-div {
    width: 100%;
    
}

.section-1-div-1 {
    width: 100%;
    /* Füllt die gesamte Breite des Containers */
    display: flex;
    justify-content: center;
    height: 800px;
    background-color: aqua;
}

.div-h1-section-1{


}