* {
  margin: 0;
  padding: 0;
  outline: 0px solid rgb(75, 64, 64) !important;
  box-sizing: border-box;
}

/* Allgemeine Einstellungen */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  /* Zentriert die Inhalte */
}

/* Section 1 (Bild mit voller Breite) */
.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  /* Volle Höhe des Viewports */
  overflow: hidden;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  /* Nimmt die gesamte Breite des Bildschirms ein */
  height: 100%;
  object-fit: cover;
  /* Füllt den Bereich ohne Verzerrung */
}


.section-1 .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
  /* Stellt sicher, dass der Text über dem Bild bleibt */
}

.section-1-h1 {
  font-size: 75px;
  margin: 0.2em 0;

}

.h2-section-1 {
  font-size: 48px;
  margin-top: 30px;

}

.section-1 .cta-link {
  position: absolute;
  /* Positioniere den Button unabhängig */
  top: calc(100% + 70px);
  /* 50px unter der H2 */
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2em 3em;
  font-size: 24px;
  color: white;
  background-color: rgb(102, 173, 41);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.section-1 .cta-link:hover {
  background-color: rgb(69, 129, 18);
}

/* Section 2 */
.section-2 {
  padding: 2em;
  background-color: white;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-2 p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.5;
}

.h2-section-2 {
  font-size: 48px;
  color: rgb(39, 39, 37);
}

.div-section-2 {
  display: flex;
  flex-direction: column;
  margin-top: 80px;

}

.p-section-2 {
  font-size: 26px !important;
  margin-top: 60px;
  width: 1300px;
  text-align: start;
}

/* Section 3------------------------------------------- */

.div-section-3 {
  width: 100%;
  height: 1450px;
  background-color: #333;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;

}

.h2-section-3-1 {
  color: white;
  font-size: 50px;

}

.h2-section-3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 140px;
}


.inner-div-section-3 {
  width: 100%;
  max-width: 1800px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-top: 140px;

}

.over-div-img-section-3 {
  width: 600px;
  height: 300px;

}

.section-3-first-img {
  background-image: url('/assets/images/Perlinen/Profilholz-der-stall.PNG');
  /* Pfad zum Bild */
  background-size: cover;
  /* Bild skalieren, um den Container auszufüllen */
  background-position: center;
  /* Bild zentrieren */
  background-repeat: no-repeat;
  /* Wiederholung des Bildes verhindern */
  width: 100%;
  /* Breite des Containers */
  height: 300px;
  /* Höhe des Containers */
}

.section-3-second-img {
  background-image: url('/assets/images/Perlinen/Profilholz-Garden.jpg');
  /* Pfad zum Bild */
  background-size: cover;
  /* Bild skalieren, um den Container auszufüllen */
  background-position: center;
  /* Bild zentrieren */
  background-repeat: no-repeat;
  /* Wiederholung des Bildes verhindern */
  width: 100%;
  /* Breite des Containers */
  height: 300px;

}

.section-3-firsto-img {
  background-image: url('/assets/images/Perlinen/Perlinen\ -innen.jpg');
  /* Pfad zum Bild */
  background-size: cover;
  /* Bild skalieren, um den Container auszufüllen */
  background-position: center;
  /* Bild zentrieren */
  background-repeat: no-repeat;
  /* Wiederholung des Bildes verhindern */
  width: 100%;
  /* Breite des Containers */
  height: 300px;

}

.h3-section-3-img {
  color: #ffffff;
  font-size: 34px;
  margin-top: 37px;




}

.p-section-3 {
  text-align: start;
  padding: 0px;
  color: white;
  margin-top: 40px;
  font-size: 23px;
  line-height: 1.5;


}

.a-href-section-3 {
  color: #ffffff;
  margin-top: 120px;
  background-color: rgb(102, 173, 41);
  padding: 28px;
  font-size: 24px;
}

.a-href-section-3:hover {
  background-color: rgb(69, 129, 18);
}



/* section 4------------------------------------------------ */

.div-section-4 {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;


}

.inner-div-section-4 {
  max-width: 1800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 300px;
  margin-bottom: 300px;
}

.section-4-p {
  width: 800px;

}

.p-section-4 {
  font-size: 20px;
  line-height: 2.0;
}

.h2-section-4 {
  font-size: 54px;
  font-weight: 800;
}


/* section 5------------------------------------------------ */
.section-5 {
  width: 100%;
  height: auto;
  background-color: rgb(39, 39, 37);
  display: flex;
  justify-content: center;
}

.inner-div-section-5 {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 120px;

}

.div-img-section-5 {
  height: 1300px;
}

.img-section-5 {
  height: 700px;
  width: 700px;
}
.div-h3-section-5{
width: 800px;

}



.h3-section5 {
  color: #ffffff;
  font-size: 50px;
margin-left: 48px;
}

.p-section-5er {
color: #ffffff;

}

.profilholz-container {
  max-width: 800px;
  margin: 20px auto; 
  padding: 20px 30px;
  border-radius: 8px;

  font-family: Arial, sans-serif;
  color: #ffffff;
  line-height: 1.6;
}

.profilholz-container ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.profilholz-container ul li {
  margin-bottom: 10px;
  font-size: 22px;
}
